{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="height: 100% !important;"></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <h2 class="pb-4">You have been logged out</h2>
                        <a class="primary_btn" href="{% url 'login' %}">Log In Again</a>
                    </div>
                </div>
            </div>
        </section>
        <!--================ End Home Banner Area =================-->

{% endblock %}
