{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html >
{% include "head.html" %}

<body style="color: #60bc0f;background-color:#091B27;">
    {% include "header.html" %}



    <!--================ Start footer Area  =================-->
    <footer>
        <div class="footer-area" style="height: 100vh;">
            <div class="container mt-5 pt-3">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <h2 style="color: #fdbb00;" class="text-center">Register</h2>
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group text-center">
                                    <button class="primary_btn" type="submit">Sign Up</button>
                                </div>
                            </form>
                            <div class="border-top pt-0">
                                <small class="text-muted">
                                    Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </footer>
    <!--================ End footer Area  =================-->

    {% include "scripts.html" %}
</body>

</html>